.wrapper__header {
  background: transparent;
  height: 71px;
  background: var(--white);
  /* margin: 24px 16px;
  padding: 24px; */
}

.header__toggle {
  -webkit-box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 27px -9px rgba(0, 0, 0, 0.73);
}

.header__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 19px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.header__trigger:hover {
  background: var(--hover-gray);
}

.header__trigger.mobile {
  display: none;
}

.header__title {
  display: inline-block;
  padding: 0px 30px;
  font-weight: lighter;
  font-size: 1.2rem;
  color: var(--font-gray);
  margin: 0;
}

.header__right,
.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__left {
  justify-content: flex-start;
}

.header__right .right__info {
  display: inline-block;
  font-size: 0.92rem;
}
.header__right .right__info span {
  font-weight: bold;
}

.header__right .right__info span.date {
  font-weight: normal;
  font-size: 0.8rem;
  margin-left: 7px;
  color: var(--font-gray);
}

.header__right .right__btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 19px;
  transition: 0.2s;
  cursor: pointer;
}
.header__right .right__btn-logout:hover {
  background: var(--hover-gray);
}

/* ------- Logo ------- */
.wrapper__logo--full {
  position: relative;
  width: 150px;
  height: 71px;
  left: 22px;
  top: 14px;
  font-weight: 500;
  font-family: "Fugaz One";
  z-index: 1;
  margin-bottom: 11px;
  display: none;
  opacity: 0;
  transition: 0.2s;
}
.wrapper__logo--shortcut.show,
.wrapper__logo--full.show {
  display: inline-block;
  opacity: 1;
}

.wrapper__logo--shortcut {
  padding-left: 20px;
  padding-top: 11px;
  font-family: "Fugaz One";
  display: none;
  opacity: 0;
  transition: 0.2s;
}

.wrapper__logo--shortcut .logo--k {
  font-size: 32px;
  color: #fff;
}

.wrapper__logo--shortcut .logo--p {
  font-size: 32px;
  color: #e69d2c;
}

.wrapper__logo--full .logo--k {
  position: absolute;
  font-size: 32px;
  /* top: -15px;
  left: 5px; */
  color: #fff;
  text-transform: uppercase;
}
.wrapper__logo--full .logo--no {
  position: absolute;
  font-size: 23px;
  color: #fff;
  left: 35px;
  top: 14px;
}

.wrapper__logo--full .logo--admin {
  position: absolute;
  left: 52px;
  font-size: 30px;
  color: #fff;
}
.wrapper__logo--full .logo--point {
  position: absolute;
  /* left: 34px;
  top: 27px; */
  left: 22px;
  font-size: 32px;
  color: #e69d2c;
  letter-spacing: 0px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .header__trigger.mobile {
    display: flex;
  }

  .header__trigger.pc {
    display: none;
  }
}
