/* ------- Side Naviation (PC) ------- */
.navbar {
  position: fixed;
  background: var(--navbar-bg);
  height: 100vh;
  background-image: url("../images/sidebar-bg.jpg");
  width: 300px;
  max-width: 300px;
  /* padding-top: 110px; */
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dim-bg);
}

/* ------- Drawer (Mobile) ------- */
.ant-drawer-content {
  height: 100vh;
  background-image: url("../images/sidebar-bg.jpg");
  width: 300px;
  max-width: 300px;
  /* padding-top: 110px; */
}

.ant-drawer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dim-bg);
}

.ant-drawer-content .ant-drawer-body {
  padding: 0;
}

/* ------- Media Query ------- */
@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}
