/* ------- Side Naviation (PC) ------- */
.navbar {
  position: fixed;
  background: var(--navbar-bg);
  height: 100vh;
  /* background-image: url("../images/sidebar-bg.jpg"); */
  width: 300px;
  max-width: 300px;
  /* padding: 0px 17px; */
  box-sizing: border-box;
}

.navbar.ant-layout-sider-collapsed {
  padding: 0;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dim-bg);
}

/* ------- Drawer (Mobile) ------- */
.ant-drawer-content {
  height: 100vh;
  background-image: url("../images/sidebar-bg.jpg");
  width: 300px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 0px 17px;
  /* padding-top: 110px; */
}

.ant-drawer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dim-bg);
}

.ant-drawer-content .ant-drawer-body {
  padding: 0;
}

/* ------- Menu ------- */
.menu {
}

.menu .menu__item {
  /* border-radius: 3px; */
}

.menu .menu__item:not(.ant-menu-item-selected):hover {
  outline: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.15);
}

.menu__item .item__icon {
  font-size: 1.2rem !important;
}

.menu__item .item__title {
  margin-left: 7px;
}

/* ------- Media Query ------- */
@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}
